<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="Configuration.properties" />

	<settings>
		<setting name="logImpl" value="NO_LOGGING" />
		<setting name="proxyFactory" value="CGLIB" />
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>

	<typeAliases>
		<package name="xeredi.bus.card.model" />
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="xeredi.bus.card.model.util.mybatis.BooleanTypeHandler"
			javaType="java.lang.Boolean" jdbcType="INTEGER" />
	</typeHandlers>

	<environments default="local">
		<environment id="local">
			<transactionManager type="JDBC"></transactionManager>

			<dataSource type="xeredi.bus.card.model.util.mybatis.DbcpDataSourceFactory">
				<property name="url" value="${dbErp.dataSource.url}" />
				<property name="driverClassName" value="${dbErp.dataSource.driver}" />
				<property name="username" value="${dbErp.dataSource.username}" />
				<property name="password" value="${dbErp.dataSource.password}" />
				<property name="defaultAutoCommit" value="false" />
				<property name="rollbackOnReturn" value="false" />
				<property name="initialSize" value="4" />
				<property name="maxTotal" value="8" />
				<property name="minIdle" value="4" />
				<property name="maxIdle" value="4" />
				<property name="validationQuery" value="select 1+1" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<package name="xeredi.bus.card.model" />
	</mappers>
</configuration>
