<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="errorLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/xeredi/proyectos/deploy/log/transport_error.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%l]%n\t%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN" />
        </filter>
    </appender>

    <appender name="infoLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/xeredi/proyectos/deploy/log/transport_info.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%l]%n\t%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="INFO" />
        </filter>
    </appender>

    <appender name="debugLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/xeredi/proyectos/deploy/log/transport_debug.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%l]%n\t%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE" />
        </filter>
    </appender>

    <appender name="serverLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/xeredi/proyectos/deploy/log/transport_server.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%l]%n\t%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="dbLog" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="File" value="/home/xeredi/proyectos/deploy/log/transport_db.log" />
        <param name="DatePattern" value=".yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d [%l]%n\t%m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="DEBUG" />
        </filter>
    </appender>

    <logger name='xeredi'>
        <level value="DEBUG" />

        <appender-ref ref="debugLog" />
    </logger>
    <logger name='com.opensymphony.xwork2.interceptor'>
        <level value="INFO" />

        <appender-ref ref="infoLog" />
    </logger>
    <root>
        <level value="ERROR" />

        <appender-ref ref="errorLog" />
    </root>
</log4j:configuration>
