<div *ngIf="resultList">
    <ngb-tabset #t="ngbTabset" type="pills"> <ngb-tab id="mainTab"> <ng-template ngbTabTitle>
    <span>Placas</span> </ng-template> <ng-template ngbTabContent>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <ngb-pagination [collectionSize]="resultList.count" [(page)]="page" [pageSize]="pageSize" [maxSize]="1"
                [size]="sm" [boundaryLinks]="false" [ellipses]="false" (pageChange)="pageChange()"></ngb-pagination>
        </div>
        <div class="btn-group mr-2" role="group">
            <a class="btn btn-secondary" [routerLink]="['/maestro/placa/edit', 'create']"><i class="fa fa-file-o"></i>
                Nuevo</a>
        </div>
    </div>

    <span>{{resultList.count}} fila(s)</span>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-condensed table-nonfluid">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Vehículo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of resultList.list; trackBy:trackByFn">
                    <td><a [routerLink]="['/maestro/placa/detail', item.id]"><i class="fa fa-search"></i></a></td>
                    <td nowrap="nowrap" [innerHTML]="item.codigo"></td>
                    <td nowrap="nowrap" [innerHTML]="item.vehiculo.codigo"></td>
                </tr>
            </tbody>
        </table>
    </div>
    </ng-template> </ngb-tab> </ngb-tabset>
</div>
