<div *ngIf="model">
    <ngb-tabset #t="ngbTabset" type="pills"> <ngb-tab id="mainTab"> <ng-template ngbTabTitle>
    <span>Placa</span> </ng-template> <ng-template ngbTabContent>
    <form role="form" (ngSubmit)="save()">
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Código</label>
                    <p *ngIf="action == 'edit'" class="form-control-static form-control-sm" [innerHTML]="model.codigo"></p>
                    <input *ngIf="action != 'edit'" type="text" [(ngModel)]="model.codigo" name="model.codigo"
                        class="form-control form-control-sm" />
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Vehiculo</label> <select name="model.vehiculo.id" [ngModel]="model.vehiculo?.id"
                        (ngModelChange)="model.vehiculo = {id: $event}" class="form-control form-control-sm">
                        <option></option>
                        <option *ngFor="let item of vhclList" [ngValue]="item.id" [innerHTML]="item.codigo"></option>
                    </select>
                </div>
            </div>
        </fieldset>

        <div class="btn-group">
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i> Guardar
            </button>
            <button type="button" (click)="cancel()" class="btn btn-secondary">
                <i class="fa fa-close"></i> Cancelar
            </button>
        </div>
    </form>
    </ng-template> </ngb-tab> </ngb-tabset>
</div>