<div *ngIf="resultList">
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2" role="group">
            <ngb-pagination [collectionSize]="resultList.count" [(page)]="page" [pageSize]="pageSize" [maxSize]="1"
                [size]="sm" [boundaryLinks]="false" [ellipses]="false" (pageChange)="pageChange()"></ngb-pagination>
        </div>
        <div class="btn-group mr-2" role="group">
        </div>
    </div>

    <span>{{resultList.count}} fila(s)</span>

    <div class="table-responsive">
        <table class="table table-sm table-bordered table-hover table-condensed table-nonfluid">
            <thead class="thead-inverse">
                <tr>
                    <th></th>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Lat. Orig.</th>
                    <th>Lon. Orig.</th>
                    <th>Lat. Dest.</th>
                    <th>Lon. Dest.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of resultList.list; trackBy:trackByFn">
                    <td><a [routerLink]="['/maestro/ruta/detail', item.id]"><i class="fa fa-search"></i></a></td>
                    <td nowrap="nowrap" [innerHTML]="item.codigo"></td>
                    <td nowrap="nowrap" [innerHTML]="item.nombre"></td>
                    <td nowrap="nowrap" [innerHTML]="item.origLat"></td>
                    <td nowrap="nowrap" [innerHTML]="item.origLon"></td>
                    <td nowrap="nowrap" [innerHTML]="item.destLat"></td>
                    <td nowrap="nowrap" [innerHTML]="item.destLon"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
