<div *ngIf="model">
    <ngb-tabset #t="ngbTabset" type="pills"> <ngb-tab id="mainTab"> <ng-template ngbTabTitle>
    <span>Ruta</span> </ng-template> <ng-template ngbTabContent>
    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group">
            <a class="btn btn-primary" [routerLink]="['/maestro/ruta/edit', 'edit', model.id]"><i class="fa fa-edit"></i>
                Editar</a>
        </div>
    </div>
    <form>
        <fieldset class="form-group">
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Código</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.codigo"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Nombre</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.nombre"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Lat. Origen</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.origLat"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Lon. Origen</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.origLon"></p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Lat. Destino</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.destLat"></p>
                </div>
                <div class="col-lg-3 col-xl-2 form-group-sm">
                    <label>Lon. Destino</label>
                    <p class="form-control-static form-control-sm" [innerHTML]="model.destLon"></p>
                </div>
            </div>
        </fieldset>
    </form>
    </ng-template> </ngb-tab> </ngb-tabset>
</div>
