<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xeredi.bus.erp.model.mapper.PlacaPingMapper">
    <insert id="insert" parameterType="PlacaPing" statementType="CALLABLE">
    <![CDATA[
        {
            CALL guardar_ping_placa(
                #{plca.codigo, mode=IN, jdbcType=VARCHAR}
                , #{fecha, mode=IN, jdbcType=TIMESTAMP}
            )
        }
    ]]>
    </insert>
</mapper>
