/* You can add global styles to this file, and also import other style files */
/*
th.buttonLinks {
	white-space: nowrap;
	width: 2%;
}

table {
	min-width: 40%;
}
*/
.number {
	text-align: right;
}

.alert-danger {
	color: red;
}

body, input, select, textarea, button, a.button, .btn {
	font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
}

body, input, select, textarea, button, a.button, .btn, pre,
	.dropdown-menu {
	font-size: 0.9rem;
	line-height: 1.2;
	color: black;
}

.jumbotron {
	/*height: 100vh;*/

}

.form-control:FOCUS {
	background-color: orange;
}
/*
.form-control-sm, input.form-control-sm, select.form-control-sm {
	font-size: 0.9rem;
}
*/
.btn-toolbar {
	margin-bottom: .7em;
}

.btn-secondary {
	color: black;
}

.form-group, .form-group-sm {
	margin-bottom: .6em;
}

.form-control, .form-control:focus {
	color: black;
}

.form-control-static {
	background-color: white;
}

.form-control-static:before {
	content: "\00a0 ";
}

.row {
	margin-right: 0px;
	margin-left: 0px;
}

.pagination {
	margin-bottom: 0px;
}

.modal-lg {
	max-width: 95%;
}

.modal-header {
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}

.modal-footer {
	justify-content: flex-start;
	padding: 5px;
}

.nav {
	margin-bottom: 10px;
}

label {
	margin-bottom: .3rem;
}

legend {
	font-size: 1.2rem;
}

td span {
	display: block;
}

td i.fa {
	display: block;
	text-align: center;
}

.form-control-static  i.fa {
	text-align: center;
}

.card-title a {
	display: block;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9,
	.col-10, .col-11, .col-12, .col, .col-sm-1, .col-sm-2, .col-sm-3,
	.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9,
	.col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-md-1, .col-md-2,
	.col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8,
	.col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-lg-1,
	.col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7,
	.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6,
	.col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12,
	.col-xl {
	padding-right: 5px;
	padding-left: 5px;
}

.jumbotron {
	padding: 4rem 1rem;
}

.table {
	width: auto;
}