<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xeredi.bus.card.model.mapper.ConductorErpMapper">
	<resultMap type="Conductor" id="ResultMap">
		<id column="codConductor" />

		<result column="codConductor" property="codigo" />
		<result column="nombre" property="nombre" />
	</resultMap>

	<sql id="SelectPrefix">
    <![CDATA[
		SELECT codConductor, nombre
		FROM Conductores
    ]]>
	</sql>

	<select id="selectList" parameterType="ConductorCriteria" resultMap="ResultMap">
		<include refid="SelectPrefix" />
	</select>
</mapper>
