<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xeredi.bus.card.model.mapper.LecturaGpsMapper">
	<resultMap type="LecturaGps" id="ResultMap">
		<id column="lgps_pk" />

		<result column="lgps_pk" property="id" />
		<result column="lgps_fecha" property="fecha" />
		<result column="lgps_altitude" property="altitude" />
		<result column="lgps_climb" property="climb" />
		<result column="lgps_distance" property="distance" />
		<result column="lgps_eps" property="eps" />
		<result column="lgps_ept" property="ept" />
		<result column="lgps_epv" property="epv" />
		<result column="lgps_epx" property="epx" />
		<result column="lgps_latitude" property="latitude" />
		<result column="lgps_longitude" property="longitude" />
		<result column="lgps_mode" property="mode" />
		<result column="lgps_number_sats" property="numberSats" />
		<result column="lgps_speed" property="speed" />
		<result column="lgps_track" property="track" />

		<association property="archivoGps" javaType="ArchivoGps">
			<result column="lgps_agps_pk" property="id" />
			<result column="agps_nombre" property="nombre" />
			<result column="agps_fecha" property="fecha" />
			<result column="agps_fecha_proceso" property="fechaProceso" />

			<association property="placa" javaType="Placa">
				<result column="agps_plca_pk" property="id" />
			</association>

			<association property="vehiculo" javaType="Vehiculo">
				<result column="lgps_vhcl_pk" property="id" />
			</association>
		</association>

		<association property="vehiculo" javaType="Vehiculo">
			<result column="lgps_vhcl_pk" property="id" />
		</association>
	</resultMap>

	<sql id="SelectPrefix">
    <![CDATA[
		SELECT lgps_pk, lgps_agps_pk, lgps_vhcl_pk, lgps_fecha, lgps_altitude, lgps_climb, lgps_distance, lgps_eps, lgps_ept, lgps_epv, lgps_epx
		    , lgps_latitude, lgps_longitude, lgps_mode, lgps_number_sats, lgps_speed, lgps_track

		    , agps_plca_pk
		    , agps_nombre, agps_fecha, agps_fecha_proceso
		FROM
		    tbl_lectura_gps_lgps lgps
		    INNER JOIN tbl_archivo_gps_agps agps ON
		        agps_pk = lgps_agps_pk
    ]]>
	</sql>

	<select id="selectListProceso" parameterType="LecturaGpsCriteria"
		resultMap="ResultMap">
		<include refid="SelectPrefix"></include>

		<where>
	    <![CDATA[
	    	agps_fecha_proceso IS NULL
	    ]]>
			<if test="placaId != null">
		    <![CDATA[
		    	AND agps_plca_pk = #{placaId}
		    ]]>
			</if>
		</where>

	    <![CDATA[
			ORDER BY agps_plca_pk, agps_vhcl_pk, lgps_fecha
    	]]>
	</select>

	<insert id="insert" parameterType="LecturaGps">
    <![CDATA[
        INSERT INTO tbl_lectura_gps_lgps (
			lgps_pk, lgps_agps_pk, lgps_vhcl_pk, lgps_fecha, lgps_altitude, lgps_climb, lgps_distance, lgps_eps, lgps_ept, lgps_epv, lgps_epx
			, lgps_latitude, lgps_longitude, lgps_mode, lgps_number_sats, lgps_speed, lgps_track
        )
        VALUES (
        	#{id}, #{archivoGps.id}, #{vehiculo.id}, #{fecha}, #{altitude}, #{climb}, #{distance}, #{eps}, #{ept}, #{epv}, #{epx}
        	, #{latitude}, #{longitude}, #{mode}, #{numberSats}, #{speed}, #{track}
        )
    ]]>
	</insert>
</mapper>