<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xeredi.bus.card.model.mapper.ServicioMapper">
    <resultMap type="Servicio" id="ResultMap">
        <id column="srvc_pk" />

        <result column="srvc_pk" property="id" />
        <result column="srvc_codigo_servicio" property="codigoServicio" />
        <result column="srvc_codigo_parte" property="codigoParte" />
        <result column="srvc_fecha_desde" property="fechaDesde" />
        <result column="srvc_fecha_hasta" property="fechaHasta" />
        <result column="srvc_util_km" property="utilKm" />
        <result column="srvc_vacio_km" property="vacioKm" />
        <result column="srvc_util_erp_km" property="utilErpKm" />
        <result column="srvc_vacio_erp_km" property="vacioErpKm" />

        <association property="ruta" javaType="Ruta">
            <result column="srvc_ruta_pk" property="id" />
        </association>

        <association property="conductor1" javaType="Conductor">
            <result column="srvc_cdtr1_pk" property="id" />
        </association>

        <association property="conductor2" javaType="Conductor">
            <result column="srvc_cdtr2_pk" property="id" />
        </association>

        <association property="vehiculo" javaType="Vehiculo">
            <result column="srvc_vhcl_pk" property="id" />
        </association>

        <association property="lecturaGpsOrigen" javaType="LecturaGps">
            <result column="srvc_lgps_orig_pk" property="id" />
        </association>

        <association property="lecturaGpsDestino" javaType="LecturaGps">
            <result column="srvc_lgps_dest_pk" property="id" />
        </association>
    </resultMap>

    <sql id="SelectPrefix">
    <![CDATA[
		SELECT srvc_pk, srvc_codigo_servicio, srvc_codigo_parte, srvc_fecha_desde, srvc_fecha_hasta
			, srvc_util_km, srvc_vacio_km, srvc_util_erp_km, srvc_vacio_erp_km
			, srvc_ruta_pk
			, srvc_cdtr1_pk
			, srvc_cdtr2_pk
			, srvc_vhcl_pk
			, srvc_lgps_orig_pk
			, srvc_lgps_dest_pk
		FROM
		    tbl_servicio_srvc
    ]]>
    </sql>

    <select id="select" parameterType="Long" resultMap="ResultMap">
        <include refid="SelectPrefix"></include>
    <![CDATA[
    	WHERE srvc_pk = #{value}
    ]]>
    </select>

    <select id="selectCalculo" parameterType="ServicioCriteria" resultMap="ResultMap">
    <![CDATA[
		WITH sql AS (
		    SELECT
		        srvc_pk, srvc_codigo_servicio, srvc_codigo_parte, srvc_ruta_pk, srvc_cdtr1_pk, srvc_cdtr2_pk
		        , srvc_vhcl_pk, srvc_fecha_desde, srvc_fecha_hasta
		        , srvc_vacio_km
		        , srvc_util_erp_km, srvc_vacio_erp_km
		        , (
		            SELECT lgps_pk
		            FROM tbl_lectura_gps_lgps
		            WHERE
		                1 = 1
		                AND lgps_vhcl_pk = srvc_vhcl_pk
		                AND lgps_fecha BETWEEN
		                	(srvc_fecha_desde - interval '${distanciaMaximaMinutos} minutes')
		                	AND (srvc_fecha_desde + interval '${distanciaMaximaMinutos} minutes')
		                AND distanciaKm(lgps_latitude, lgps_longitude, ruta_orig_lat, ruta_orig_lon) < #{distanciaMaximaKm}
		            ORDER BY distanciaKm(lgps_latitude, lgps_longitude, ruta_orig_lat, ruta_orig_lon)
		            FETCH NEXT 1 ROWS ONLY
		        ) AS srvc_lgps_orig_pk
		        , (
		            SELECT lgps_pk
		            FROM tbl_lectura_gps_lgps
		            WHERE
		                1 = 1
		                AND lgps_vhcl_pk = srvc_vhcl_pk
		                AND lgps_fecha BETWEEN
		                	(srvc_fecha_hasta - interval '${distanciaMaximaMinutos} minutes')
		                	AND (srvc_fecha_hasta + interval '${distanciaMaximaMinutos} minutes')
		                AND distanciaKm(lgps_latitude, lgps_longitude, ruta_dest_lat, ruta_dest_lon) < #{distanciaMaximaKm}
		            ORDER BY distanciaKm(lgps_latitude, lgps_longitude, ruta_dest_lat, ruta_dest_lon)
		            FETCH NEXT 1 ROWS ONLY
		        ) AS srvc_lgps_dest_pk
		    FROM tbl_servicio_srvc s
		        INNER JOIN tbl_ruta_ruta r ON
		            ruta_pk = srvc_ruta_pk
		    WHERE
		        1 = 1
		        AND srvc_ruta_pk IS NOT NULL
		        AND srvc_vhcl_pk IS NOT NULL
		        AND srvc_fecha_desde >= (
		            SELECT MIN(lgps_fecha) - interval '1 days'
		            FROM tbl_lectura_gps_lgps
		        )
		)
		SELECT srvc_pk, srvc_codigo_servicio, srvc_codigo_parte, srvc_ruta_pk, srvc_cdtr1_pk, srvc_cdtr2_pk
		    , srvc_vhcl_pk, srvc_fecha_desde, srvc_fecha_hasta
		    , srvc_util_erp_km, srvc_vacio_erp_km
		    , srvc_lgps_orig_pk, srvc_lgps_dest_pk
		    , (
		        SELECT SUM(lgps_distance) / 1000
		        FROM tbl_lectura_gps_lgps
		        WHERE lgps_vhcl_pk = srvc_vhcl_pk
		            AND lgps_pk BETWEEN srvc_lgps_orig_pk AND srvc_lgps_dest_pk
		    ) AS srvc_util_km
		    , srvc_vacio_km
		FROM sql
		ORDER BY srvc_vhcl_pk, srvc_fecha_desde
    ]]>
    </select>
    <!-- FIXME AND srvc_util_km <= 0 AND srvc_vacio_km <= 0 -->

    <select id="exists" parameterType="Servicio" resultType="Boolean">
    <![CDATA[
        SELECT COUNT(1)
        FROM tbl_servicio_srvc
        WHERE srvc_codigo_parte = #{codigoParte}
    ]]>
    </select>

    <insert id="insertErpData" parameterType="Servicio">
    <![CDATA[
        INSERT INTO tbl_servicio_srvc (srvc_pk, srvc_codigo_servicio, srvc_codigo_parte, srvc_ruta_pk
        	, srvc_cdtr1_pk, srvc_cdtr2_pk, srvc_vhcl_pk, srvc_fecha_desde, srvc_fecha_hasta, srvc_util_erp_km, srvc_vacio_erp_km)
        VALUES (#{id}, #{codigoServicio}, #{codigoParte}
        	, (SELECT ruta_pk FROM tbl_ruta_ruta WHERE ruta_codigo = #{ruta.codigo})
        	, (SELECT cdtr_pk FROM tbl_conductor_cdtr WHERE cdtr_codigo = #{conductor1.codigo})
        	, (SELECT cdtr_pk FROM tbl_conductor_cdtr WHERE cdtr_codigo = #{conductor2.codigo})
        	, (SELECT vhcl_pk FROM tbl_vehiculo_vhcl WHERE vhcl_codigo = #{vehiculo.codigo})
        	, #{fechaDesde}, #{fechaHasta}, #{utilErpKm}, #{vacioErpKm}
       	)
    ]]>
    </insert>

    <update id="updateErpData" parameterType="Servicio">
    <![CDATA[
        UPDATE tbl_servicio_srvc SET
        	srvc_codigo_servicio = #{codigoServicio}
        	, srvc_ruta_pk = (SELECT ruta_pk FROM tbl_ruta_ruta WHERE ruta_codigo = #{ruta.codigo})
        	, srvc_cdtr1_pk = (SELECT cdtr_pk FROM tbl_conductor_cdtr WHERE cdtr_codigo = #{conductor1.codigo})
        	, srvc_cdtr2_pk = (SELECT cdtr_pk FROM tbl_conductor_cdtr WHERE cdtr_codigo = #{conductor2.codigo})
        	, srvc_vhcl_pk = (SELECT vhcl_pk FROM tbl_vehiculo_vhcl WHERE vhcl_codigo = #{vehiculo.codigo})
        	, srvc_fecha_desde = #{fechaDesde}
        	, srvc_fecha_hasta = #{fechaHasta}
        	, srvc_util_erp_km = #{utilErpKm}
        	, srvc_vacio_erp_km = #{vacioErpKm}
       	WHERE srvc_codigo_parte = #{codigoParte}
    ]]>
    </update>

    <update id="update" parameterType="Servicio">
    <![CDATA[
		UPDATE tbl_servicio_srvc srvc SET
		    srvc_lgps_orig_pk = #{lecturaGpsOrigen.id}
		    , srvc_lgps_dest_pk = #{lecturaGpsDestino.id}
		    , srvc_util_km = #{utilKm}
    ]]>
        <if test="utilKm != null">
        <![CDATA[
            , srvc_duracion = (
                (
                    SELECT extract(epoch from lgps_fecha)
                    FROM tbl_lectura_gps_lgps
                    WHERE lgps_pk = #{lecturaGpsDestino.id}
                ) - (
                    SELECT extract(epoch from lgps_fecha)
                    FROM tbl_lectura_gps_lgps
                    WHERE lgps_pk = #{lecturaGpsOrigen.id}
                )
            )
        ]]>
        </if>
    <![CDATA[
		WHERE srvc_pk = #{id}
    ]]>
    </update>

    <update id="updateKmVacio" parameterType="Servicio">
    <![CDATA[
		UPDATE tbl_servicio_srvc srvc SET
		    srvc_vacio_km = (
		        SELECT SUM(lgps_distance) / 1000
		        FROM tbl_lectura_gps_lgps
		        WHERE lgps_vhcl_pk = srvc_vhcl_pk
		            AND lgps_pk BETWEEN
		                (
		                    SELECT srvc_lgps_dest_pk + 1
		                    FROM tbl_servicio_srvc srvcAnt
		                    WHERE srvcAnt.srvc_vhcl_pk = srvc.srvc_vhcl_pk
		                        AND srvcAnt.srvc_fecha_desde < srvc.srvc_fecha_desde
		                    ORDER BY srvc.srvc_fecha_desde - srvcAnt.srvc_fecha_desde
		                    FETCH NEXT 1 ROWS ONLY
		                )
		                AND
		                (srvc.srvc_lgps_orig_pk -1)
		    )
		WHERE srvc_pk = #{id}
    ]]>
    </update>
</mapper>
