<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="xeredi.bus.card.model.mapper.ServicioErpMapper">
	<resultMap type="Servicio" id="ResultMap">
		<id column="codParte" />

		<result column="codParte" property="codigoParte" />
		<result column="codServicio" property="codigoServicio" />
		<result column="fechaDesde" property="fechaDesde" />
		<result column="fechaHasta" property="fechaHasta" />
		<result column="kilometros" property="utilKm" />
		<result column="kilometrosExentos" property="vacioKm" />

		<association property="ruta" javaType="Ruta">
			<result column="codRuta" property="codigo" />
		</association>
		<association property="conductor1" javaType="Conductor">
			<result column="codConductor1" property="codigo" />
		</association>
		<association property="conductor2" javaType="Conductor">
			<result column="codConductor2" property="codigo" />
		</association>
		<association property="vehiculo" javaType="Vehiculo">
			<result column="codAutocar" property="codigo" />
		</association>
	</resultMap>

	<sql id="SelectPrefix">
    <![CDATA[
		SELECT p.codServicio, p.codParte, p.idParte
			, CONVERT(DATETIME, CONVERT(CHAR(20), inc.DesdeFecha, 112) + ' ' + CONVERT(CHAR(20), inc.DesdeHora,108)) AS fechaDesde
			, CONVERT(DATETIME, CONVERT(CHAR(20), inc.HastaFecha, 112) + ' ' + CONVERT(CHAR(20), inc.HastaHora,108)) AS fechaHasta
			, (SELECT codruta FROM SerAutocares aut
				WHERE aut.codservicio = p.codServicio
					AND aut.NumAutocar = p.NumAutocar) AS codRuta
			, (SELECT codEnlace FROM IncidenciasMovimientosLin lin
				WHERE lin.IdMovimiento = p.IdMovimiento
					AND AUTOCARCONDUCTOR = 'A') AS codAutocar
			, (SELECT codEnlace FROM IncidenciasMovimientosLin lin
				WHERE lin.IdMovimiento = p.IdMovimiento and AUTOCARCONDUCTOR = 'C'
					AND conductor1o2 = 1) AS codConductor1
			, (SELECT codEnlace FROM IncidenciasMovimientosLin lin
				WHERE lin.IdMovimiento = p.IdMovimiento and AUTOCARCONDUCTOR = 'C'
					AND conductor1o2 = 2) AS codConductor2
			, p.kilometros
			, p.kilometrosExentos
		FROM PartesTrabajo p
			LEFT JOIN IncidenciasMovimientos inc ON
				inc.IdMovimiento = p.IdMovimiento
		WHERE
			len(inc.desdefecha) = 8
			AND len(inc.desdehora) = 5
			AND len(inc.hastafecha) = 8
			AND len(inc.hastahora) = 5
			AND CONVERT(DATETIME, CONVERT(CHAR(20), inc.DesdeFecha, 112) + ' ' + CONVERT(CHAR(20), inc.DesdeHora,108)) >= #{fechaInicio}
    ]]>
	</sql>

<!--
FIXME
			AND p.kilometros <= 0
			AND p.kilometrosExentos <= 0
 -->
	<select id="selectList" parameterType="ServicioCriteria" resultMap="ResultMap">
		<include refid="SelectPrefix" />
	</select>

	<update id="update" parameterType="Servicio">
    <![CDATA[
    	UPDATE PartesTrabajo SET
    		kilometros = COALESCE(#{utilKm}, 0)
    		, kilometrosExentos = COALESCE(#{vacioKm}, 0)
    	WHERE codParte = #{codigoParte}
    ]]>
	</update>
</mapper>
